<footer itemscope itemtype='https://schema.org/WPFooter'>
  <p>If you liked what you saw <a href='https://twitter.com/DrummerHead'>follow me on Twitter</a> to get news and articles about Front–End development and <a href='https://github.com/DrummerHead/'>follow me on GitHub</a> to get updated of new experiments even before they get on the site.</p>
  <p>Thanks for passing by!</p>
  <p class='copyright'>Copyright © 2010-2016 MCDLR</p>
</footer>
