<footer>
  <p>If you liked what you saw <a href='https://twitter.com/DrummerHead'>follow DrummerHead on Twitter</a> to get news and articles about front-end development and <a href='https://github.com/DrummerHead/'>follow him on Github</a> to get updated of new experiments even before they get on the site</p>
  <p>Thanks for passing by!</p>
</footer>
