* {
  box-sizing: border-box;
}

html {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Paragraph', sans-serif;
  text-size-adjust: 100%;
  color: $root-font-color;
}

body {
  margin: 0;
  transition: background-color cubic-bezier(0, 0, .2, 1) 777ms;
  background-color: $body-default-bg-color;
}

// TODO: Handle commented code for non-touch devices later
a {
  text-decoration: none;
  color: $root-font-color;
  box-shadow: 0 -.1em 0 $hypertext inset, 0 .1em 0 $hypertext;
  //transition: box-shadow ease-in 100ms;

  &:visited {
    color: $root-font-color;
  }
  //&:hover {
  //  box-shadow: 0 -1.4em 0 $hypertext inset, 0 .1em 0 $hypertext;
  //}
  //&:active {
  //  color: red;
  //}
}

h2 {
  margin: .18em 0;
  font-size: 3em;
  line-height: 1.05;
  font-family: 'Heading';
  font-weight: bold;
  font-style: italic;
  hyphens: none;
}

h2 a {
  color: $root-font-color;
  box-shadow: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
