* {
  box-sizing: border-box;
}

html {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Paragraph', sans-serif;
  text-size-adjust: 100%;
  color: $root-font-color;
}

body {
  margin: 0;
}

h2 {
  font-family: 'Heading';
  font-weight: bold;
  font-style: italic;
}
