// Layout
////////////////////////

$base-lateral-padding: 4.4vw;


// Color scheme
////////////////////////

$root-font-color: #222;
$body-default-bg-color: #defbfd;
$chameleon-light: rgba(0, 0, 0, .2);
$hypertext: rgba(112, 112, 253, .5);
$hypertext-hover-color: rgb(239, 239, 255);

// Viewport sizes
////////////////////////

$alpha: 'min-width: 50em';

