@font-face {
  font-family: 'Heading';
  src: url('/fonts/Hi.eot');
  src: url('/fonts/Hi.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Hi.woff') format('woff'),
    url('/fonts/Hi.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Paragraph';
  src: url('/fonts/Pi.eot');
  src: url('/fonts/Pi.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Pi.woff') format('woff'),
    url('/fonts/Pi.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Paragraph';
  src: url('/fonts/Pb.eot');
  src: url('/fonts/Pb.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Pb.woff') format('woff'),
    url('/fonts/Pb.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Paragraph';
  src: url('/fonts/Pr.eot');
  src: url('/fonts/Pr.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Pr.woff') format('woff'),
    url('/fonts/Pr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
