// Grid
////////////////////////

$grid-separation: .25rem;

%grid-row {
  display: flex;
  flex-flow: row wrap;
  margin-right: (-$grid-separation);
  margin-left: (-$grid-separation);
}

%grid-col {
  flex: 1;
  padding: 0 $grid-separation;
}

// Lists
////////////////////////

%list {
  padding-left: 1.2em;
  list-style-type: disc;
}

%list-li {
  margin: .5em 0;
}

