<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge' >
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='author' content='DrummerHead'>
    <title><%= current_page.data.title || 'Middleman' %></title>
    <%= stylesheet_link_tag current_page.data.css %>
  </head>

  <body itemscope itemtype='https://schema.org/WebPage'>
    <%= yield %>
    <div id='scripts'>
      <%= javascript_include_tag current_page.data.js %>
      <script async src='https://www.google-analytics.com/analytics.js'></script>
    </div>
  </body>
</html>
