[itemtype='https://schema.org/WPFooter'] {
  border-top: $persistent-border;
  padding: 1em $base-lateral-padding;
  background-clip: padding-box;
  background-color: $mcdlr-canon-color;
}

.copyright {
  margin: 2.5em 0 1em;
  font-size: .9em;
  color: rgba($root-font-color, .5);
}

@media ($beta) {
  [itemtype='https://schema.org/WPFooter'] {
    @include beta-lateral-padding-pack;
  }
}
