[itemtype='https://schema.org/WPHeader'] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 0 solid rgba($mcdlr-canon-color, 0);
  padding: 0;
  background-clip: padding-box;
  background-color: $body-default-bg-color;
  overflow: hidden;
}

[itemtype='https://schema.org/WPHeader'] svg {
  flex: 0 0 100%;
  max-height: 100vh;
}

$initial-delay: 200ms;
$header-duration: 650ms;
$svg-duration: 1250ms;

@mixin endstate-header {
  border-bottom: $persistent-border;
  padding: 1em $base-lateral-padding;
  background-color: $mcdlr-canon-color;
}

@mixin endstate-svg {
  flex-basis: 12.2rem;
  max-height: 7rem;
}

@media ($alpha) {
  .welcome-animation {
    animation-name: egress-header;
    animation-duration: $header-duration;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: $initial-delay;
  }

  .welcome-animation svg {
    animation-name: egress-svg;
    animation-duration: $svg-duration;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-delay: $initial-delay;
  }

  .endstate-animation {
    @include endstate-header;
  }

  .endstate-animation svg {
    @include endstate-svg;
  }
}

@keyframes egress-header {
  100% {
    @include endstate-header;
  }
}

@keyframes egress-svg {
  55% {
    max-height: 7rem;
  }

  65% {
    flex-basis: 100%;
  }

  100% {
    @include endstate-svg;
  }
}
