---
title: mcdlr
---

<%= partial 'modules/header' %>

<main itemprop='mainContentOfPage'>
  <% data.posts.each do |post| %>
    <%= partial 'modules/post', locals: {post: post} %>
  <% end %>
</main>

<%= partial 'modules/footer' %>
