---
title: MCDLR · Front–End Exploration
js: main
css: main
---

<%= partial 'modules/header' %>

<main itemprop='mainContentOfPage'>
  <% data.articles.each do |article| %>
    <%= partial 'modules/article', locals: {article: article} %>
  <% end %>
</main>

<%= partial 'modules/footer' %>
