.article-meta {
  display: flex;
  flex-flow: row nowrap;
}

.article-meta li {
  flex: 1;
  border-left: .15rem solid $chameleon-light;
  padding: 0 .5rem;
  font-size: .8rem;
  line-height: 1.2;
}

.article-meta strong {
  display: block;
  margin: 0 0 .5em;
  font-size: 1rem;
  font-weight: normal;

  &:last-child {
    margin: 0;
  }
}

.article-meta address {
  font-style: normal;
}
