[itemprop='mainContentOfPage'] {
  margin: 0 $base-lateral-padding;
}

[itemtype='https://schema.org/Article'] {
  padding: 2.5rem 0;
  hyphens: auto;
  overflow-wrap: break-word;
}

[itemtype='https://schema.org/Article'] [itemprop='image'] {
  display: block;
  box-shadow: none;
}

[itemtype='https://schema.org/Article'] [itemprop='image'] img {
  display: block;
  width: 100%;
}

[itemprop='articleBody'] ol,
[itemprop='articleBody'] ul {
  @extend %list;
}

[itemprop='articleBody'] li {
  @extend %list-li;
}

@media ($alpha) {
  [itemprop='mainContentOfPage'] {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  [itemtype='https://schema.org/Article'] {
    flex: 0 0 (50% - $base-lateral-padding / 2);
  }
}
