[itemtype='https://schema.org/Article'] {
  padding: .5rem $base-lateral-padding 5rem;
  hyphens: auto;
  overflow-wrap: break-word;

  &:first-child {
    padding-top: 2.5rem;
  }

  &:last-child {
    padding-bottom: 2rem;
  }
}

[itemtype='https://schema.org/Article'] [itemprop='image'] {
  display: block;
  box-shadow: none;
}

[itemtype='https://schema.org/Article'] [itemprop='image'] img {
  display: block;
  width: 100%;
}

.article-textcontent {
  padding: 1em 0 0;
}

[itemprop='articleBody'] > * {
  &:first-child {
    margin-top: 0;
  }
}

[itemprop='articleBody'] ol,
[itemprop='articleBody'] ul {
  @extend %list;
}

[itemprop='articleBody'] li {
  @extend %list-li;
}

@media ($alpha) {
  [itemtype='https://schema.org/Article'] {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 10rem;
    font-size: 1.2em;

    &:first-child {
      padding-top: 2rem;
    }
  }

  [itemprop='headline'] {
    flex: 1 0 100%;
    margin-bottom: .25em;
  }

  [itemtype='https://schema.org/Article'] [itemprop='image'] {
    flex: 0 0 18.77rem;
  }

  .article-textcontent {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 22rem;
    padding: 0 0 0 ($base-lateral-padding / 2);
  }

  .article-textcontent > footer {
    margin-top: auto;
  }
}

@media ($beta) {
  [itemtype='https://schema.org/Article'] {
    @include beta-lateral-padding-pack;
  }
}
