[itemtype='https://schema.org/Article'] {
  padding: 2rem $base-lateral-padding;
  hyphens: auto;
}

[itemtype='https://schema.org/Article'] [itemprop='image'] {
  display: block;
  box-shadow: none;
}

[itemtype='https://schema.org/Article'] [itemprop='image'] img {
  display: block;
  width: 100%;
}
