.article-meta {
  @extend %grid-row;
}

.article-meta li {
  @extend %grid-col;
  font-size: .8rem;
  line-height: 1.2;
}

.article-meta strong,
.article-meta address {
  display: block;
  margin: 0 0 .5em;
  font-size: 1rem;
  font-weight: normal;

  &:last-of-type {
    margin: 0;
  }
}

.article-meta address {
  font-style: normal;
}

@media ($alpha) {
  .article-meta {
    padding-top: 1em;
  }
}
