.color-test {
  display: flex;
  flex-flow: row wrap;
}

.color-test > li {
  position: relative;
  flex: 1 0 33.333333%;

  span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: width 500ms ease-in-out;
    z-index: 10;
  }

  &:hover {
    span {
      width: 100%;
    }
  }
}

.color-data {
  position: relative;
  padding: 1em;
  z-index: 20;
}
