ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#color-test {
}
#color-test > li {
  position: relative;
  float: left;
  width: 33.3333333333333333333333%;
  height: 10em;
  background-color: red;

  span {
    display: block;
    width: 0%;
    height: 100%;
    transition: width 500ms ease-in-out;
  }

  &:hover {
    background-color: attr(data-color);

    span {
      width: 100%;
    }
  }
}
.color-data {
  position: absolute;
  top: 1em;
  right: 0;
  bottom: 0;
  left: 1em;
}
